.hero {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  object-fit: contain;
}

.hero--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.hero__contents {
  margin-left: 4%;
  padding-top: 280px;
  height: 190px;
  max-width: 600px;
}

.hero__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  margin: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9), 0 0 20px rgba(0, 0, 0, 0.8);
  color: #fff;
}

.hero__info {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  font-size: 14px;
  align-items: center;
}

.hero__rating {
  color: #46d369;
  font-weight: 600;
}

.hero__year,
.hero__runtime {
  color: #a3a3a3;
}

.hero__description {
  width: 100%;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 500px;
  height: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.hero__buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.hero__button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  font-size: 15px;
  transition: all 0.2s;
}

.hero__button--play {
  background-color: #fff;
  color: #000;
}

.hero__button--play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.hero__button--info {
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
}

.hero__button--info:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.hero__button-icon {
  font-size: 18px;
}

.hero__fadeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.8),
    #141414
  );
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 0.9rem;
    max-width: 300px;
  }

  .hero__contents {
    padding-top: 200px;
  }
}
